@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inmobiliaria</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InmobiliariaGutierrezManuel.styles.css" asp-append-version="true" />
</head>
<body class="bg-light-subtle">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Inmobiliaria</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Propietario" asp-action="Index">Propietarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Inquilino" asp-action="Index">Inquilinos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Inmuebles
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Inmueble" asp-action="Index">Lista Inmuebles</a></li>
                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="TipoInmueble" asp-action="Index">Lista Tipos Inmuebles</a></li>
                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Inmueble" asp-action="Alquilar">Alquilar Inmueble</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Contratos
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Contrato" asp-action="Index">Lista Contratos</a></li>
                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Contrato" asp-action="PorFechas">Por Fechas</a></li>
                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Contrato" asp-action="PorVencer">A Vencer</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pago" asp-action="Index">Pagos</a>
                        </li>
                        @if (User.IsInRole(Rol.ADMIN.ToString())) {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index">Usuarios</a>
                            </li>
                        }
                    </ul>
                    @if (User.Identity!.IsAuthenticated) {
                        <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="pe-3 ps-1">@User.Identity.Name</span>
                                @{string? avatarURL = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Uri)?.Value;}
                                @if (avatarURL?.Length > 0) {
                                    <img width="32" src="@avatarURL" alt="" class="rounded-circle">
                                } else {
                                    string nombre = User!.Identity!.Name!.Split(" ")[0];
                                    string apellido = User.Identity.Name.Split(" ")[1];
                                    <img width="32" src="https://ui-avatars.com/api/?name=@(nombre + "+" + apellido)&background=random&rounded=true" alt="">
                                }
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><span class="dropdown-item text-white">@User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value</span></li>
                                <li><hr class="dropdown-divider"></li>
                                @{string? id = User.Claims.FirstOrDefault(c => c.Type == "id")?.Value;}
                                <li><a class="dropdown-item text-white" asp-area="" asp-controller="Usuario" asp-action="FormularioEditarUsuario" asp-route-id="@id">Actualizar Perfil</a></li>
                                <li><a class="dropdown-item text-white" asp-area="" asp-controller="Usuario" asp-action="Logout">Salir</a></li>
                            </ul>
                        </div>
                    } else {
                        <a asp-action="Login" asp-controller="Usuario" type="button" class="btn btn-primary">Login</a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-light">
        <div class="container">
            &copy; 2025 - Inmobiliaria - Gutierrez Manuel
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
