@using Microsoft.VisualBasic

@model IEnumerable<Pago>

<div class="container-fluid shadow border rounded-4 mt-4 bg-light-subtle position-relative">
    <div class="table-responsive my-4 rounded-3 fixed-height-table-container">
        <table class="table table-hover mb-0">
            <thead class="table-light">
                <tr>
                    <th style="width: 100px;">
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha).ToUpper()
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Importe).ToUpper()
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tipo).ToUpper()
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado).ToUpper()
                    </th>
                    <th colspan="2">
                        @Html.DisplayNameFor(model => model.Detalle).ToUpper()
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="cuerpo">
                @foreach (var item in Model)
                {
                    <tr id="@item.Id">
                        <td class="align-middle py-0 ps-2" style="width: 100px;">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="align-middle py-0 ps-2">
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td class="align-middle py-0 ps-2">
                            @Html.DisplayFor(modelItem => item.Importe)
                        </td>
                        <td class="align-middle py-0 ps-2">
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td class="align-middle py-0 ps-2">
                            @(item.Estado ? "" : "ANULADO")
                        </td>
                        <td class="align-middle py-0 ps-2" colspan="2">
                            @Html.DisplayFor(modelItem => item.Detalle)
                        </td>
                        <td>
                            <div class="d-flex justify-content-evenly align-items-center">
                                @* <a class="icon-enlace" asp-action="FormularioPago" asp-controller="Pago" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-title="Editar">
                                    <i class="bi bi-pencil-square fs-3 text-primary"></i>
                                </a> *@
                                <i id="edit-@item.Id" class="bi bi-pencil-square fs-3 text-primary icon-hover" style="cursor: pointer;" data-bs-toggle="tooltip" data-bs-title="Editar"></i>
                                @if (User.IsInRole(Rol.ADMIN.ToString())) {
                                    <i id="del-@item.Id" class="bi bi-trash fs-3 text-danger icon-hover @(!item.Estado ? "invisible" : "")" style="cursor: pointer;" data-bs-toggle="tooltip" data-bs-title="Anular"></i>
                                }
                                @* @if (User.IsInRole(Rol.ADMIN.ToString())) {
                                    <i id="det-@item.Id" class="bi bi-file-earmark-text fs-3 text-info icon-hover" style="cursor: pointer;" data-bs-toggle="tooltip" data-bs-title="Ver Detalle"></i>
                                } *@
                                <i id="det-@item.Id" class="bi bi-file-earmark-text fs-3 text-info icon-hover" style="cursor: pointer;" data-bs-toggle="tooltip" data-bs-title="Ver Detalle"></i>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <nav>
        <ul id="paginador" class="pagination justify-content-center">
            <li id="flecha-pag-izq" class="page-item @(ViewBag.offsetAnterior == 0 ? "disabled" : "")">
                <a asp-action="Index" asp-route-limit="10" asp-route-offset="@ViewBag.offsetAnterior" class="page-link"><span>&laquo;</span></a>
            </li>
            @for (int i = 1; i <= ViewBag.cantPag; i++) {
                <li class="page-item">
                    <a asp-action="Index" asp-route-limit="10" asp-route-offset="@i" class="page-link @(i > ViewBag.offsetAnterior && i < ViewBag.offsetSiguiente ? "active" : "")">@i</a>
                </li>
            }
            <li id="flecha-pag-der" class="page-item @(ViewBag.offsetSiguiente > ViewBag.cantPag ? "disabled" : "")">
                <a asp-action="Index" asp-route-limit="10" asp-route-offset="@ViewBag.offsetSiguiente" class="page-link"><span>&raquo;</span></a>
            </li>
        </ul>
    </nav>
    @if(ViewBag.idCon != null) {
        <div class="position-absolute bottom-0 start-0 ms-4 mb-2 contenedor-iconos">
            <a asp-controller="Contrato" asp-action="Index" class="icon-enlace d-inline-block">
                <i class="bi bi-box-arrow-in-left fs-1 text-primary" data-bs-toggle="tooltip" data-bs-title="Volver a Contratos"></i>
            </a>
        </div>
        <div id="btn_add" class="position-absolute bottom-0 end-0 me-4 mb-2" style="cursor: pointer;">
            <a class="icon-enlace d-inline-block" asp-action="FormularioPago" asp-controller="Pago" asp-route-idCon="@ViewBag.idCon" data-bs-toggle="tooltip" data-bs-title="Registrar Pago">
                <i class="bi bi-plus-square fs-1 text-primary"></i>
            </a>
        </div>
        @* <div class="position-absolute bottom-0 end-0 me-4 mb-2 contenedor-iconos">
            <a asp-action="Index" class="icon-enlace d-inline-block">
                <i class="bi bi-arrow-counterclockwise fs-1 text-primary" data-bs-toggle="tooltip" data-bs-title="Recargar Pagos"></i>
            </a>
        </div> *@
    }
    @* <div id="btn_add" class="position-absolute bottom-0 end-0 me-4 mb-2" style="cursor: pointer;">
        <a class="icon-enlace d-inline-block" asp-action="FormularioPago" asp-controller="Pago" data-bs-toggle="tooltip" data-bs-title="Registrar Nuevo">
            <i class="bi bi-plus-square fs-1 text-primary"></i>
        </a>
    </div> *@
</div>