@using Microsoft.VisualBasic
@using InmobiliariaGutierrezManuel.Models;

@model IEnumerable<Inmueble>

@{
    string dir = "";
}

<div class="container-fluid shadow border rounded-4 mt-3 bg-light-subtle position-relative">
    <div class="row my-2">
        <div class="col-12 col-md-6 col-lg-4">
            <label for="propietario" class="form-label fw-bold">Por Propietario</label>
            <input type="text" id="propietario" class="form-control" placeholder="nombre o apellido del propietario" value="@ViewBag.propietario">
        </div>
        <div class="col-12 col-md-6 col-lg-2">
            <label for="filtro-disponible" class="form-label fw-bold">Filtrar por Disponibilidad</label>
            <select name="disp" id="filtro-disponible" class="form-select">
                <option value="@((int)Disponiblilidad.TODOS)" selected="@(ViewBag.disponible == (int)Disponiblilidad.TODOS)">Todos</option>
                <option value="@((int)Disponiblilidad.HABILITADOS)" selected="@(ViewBag.disponible == (int)Disponiblilidad.HABILITADOS)">Habilitados</option>
                <option value="@((int)Disponiblilidad.NO_HABILITADOS)" selected="@(ViewBag.disponible == (int)Disponiblilidad.NO_HABILITADOS)">No Habilitados</option>
            </select>
        </div>
        <div class="col-12 col-lg-2 d-flex justify-content-center align-items-end mt-3 mt-lg-0">
            <span class="w-50 d-flex justify-content-center">
                @* <button id="consultar-btn" class="btn btn-primary">Consultar</button> *@
                <a id="consultar-btn" class="btn btn-primary" asp-action="Index" asp-route-disp="@ViewBag.disponible" asp-route-limit="10" asp-route-offset="1">Consultar</a>
            </span>
        </div>
    </div>
    <div class="table-responsive my-4 rounded-3 fixed-height-table-container">
        <table class="table table-striped table-hover mb-0">
            <thead class="table-light">
                <tr>
                    <th >
                        DIRECCIÓN
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tipo).ToUpper()
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CantidadAmbientes).ToUpper()
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duenio).ToUpper()
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Precio).ToUpper()
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="cuerpo">
                @foreach (var item in Model) {
                    <tr id="@item.Id">
                        <td class="align-middle py-0 ps-2">
                            @{dir = item.Calle + " " + item.NroCalle;}
                            @dir
                        </td>
                        <td class="align-middle py-0 ps-2">
                            @Html.DisplayFor(modelItem => item.Tipo!.Tipo)
                        </td>
                        <td class="align-middle py-0 ps-2">
                            @Html.DisplayFor(modelItem => item.CantidadAmbientes)
                        </td>
                        <td class="align-middle py-0 ps-2">
                            @(item.Duenio != null ? item.Duenio.ToString().Split('-').ElementAt(0) : "Sin Dueño")
                        </td>
                        <td class="align-middle py-0 ps-2">
                            @Html.DisplayFor(modelItem => item.Precio)
                        </td>
                        <td>
                            <div class="d-flex justify-content-evenly align-items-center contenedor-iconos">
                                <a class="icon-enlace" asp-action="FormularioInmueble" asp-route-id="@item.Id"><i class="bi bi-pencil-square fs-3 icon-hover" data-bs-toggle="tooltip" data-bs-title="Editar"></i></a>
                                <i id="del-@item.Id" class="bi bi-trash fs-3 text-danger icon-hover" data-bs-toggle="tooltip" data-bs-title="Eliminar"></i>
                                <i id="det-@item.Id" class="bi bi-file-earmark-text fs-3 text-info icon-hover" data-bs-toggle="tooltip" data-bs-title="Ver Detalle"></i>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <nav>
        <ul id="paginador" class="pagination justify-content-center">
            <li id="flecha-pag-izq" class="page-item @(ViewBag.offsetAnterior == 0 ? "disabled" : "")">
                @if (ViewBag.idProp == 0) { <a asp-action="Index" asp-route-limit="10" asp-route-offset="@ViewBag.offsetAnterior" asp-route-disp="@ViewBag.disponible" class="page-link"><span>&laquo;</span></a> }
                else { <a asp-action="Index" asp-route-limit="10" asp-route-offset="@ViewBag.offsetAnterior" asp-route-disp="@ViewBag.disponible" asp-route-idProp="@ViewBag.idProp" class="page-link"><span>&laquo;</span></a> }
            </li>
            @for (int i = 1; i <= ViewBag.cantPag; i++) {
                <li class="page-item">
                    @if (ViewBag.idProp == 0) { <a asp-action="Index" asp-route-limit="10" asp-route-offset="@i" asp-route-disp="@ViewBag.disponible" class="page-link @(i > ViewBag.offsetAnterior && i < ViewBag.offsetSiguiente ? "active" : "")">@i</a> }
                    else { <a asp-action="Index" asp-route-limit="10" asp-route-offset="@i" asp-route-disp="@ViewBag.disponible" asp-route-idProp="@ViewBag.idProp" class="page-link @(i > ViewBag.offsetAnterior && i < ViewBag.offsetSiguiente ? "active" : "")">@i</a> }
                </li>
            }
            <li id="flecha-pag-der" class="page-item @(ViewBag.offsetSiguiente > ViewBag.cantPag ? "disabled" : "")">
                @if (ViewBag.idProp == 0) { <a asp-action="Index" asp-route-limit="10" asp-route-offset="@ViewBag.offsetSiguiente" asp-route-disp="@ViewBag.disponible" class="page-link"><span>&raquo;</span></a> }
                else { <a asp-action="Index" asp-route-limit="10" asp-route-offset="@ViewBag.offsetSiguiente" asp-route-disp="@ViewBag.disponible" asp-route-idProp="@ViewBag.idProp" class="page-link"><span>&raquo;</span></a> }
            </li>
        </ul>
    </nav>
    <div id="btn_add" class="position-absolute bottom-0 end-0 me-4 mb-2 contenedor-iconos">
        <a asp-action="FormularioInmueble" class="icon-enlace d-inline-block">
            <i class="bi bi-plus-square fs-1 text-primary" data-bs-toggle="tooltip" data-bs-title="Registrar Nuevo"></i>
        </a>
    </div>
</div>
