@using InmobiliariaGutierrezManuel.Models;

@model Inmueble;

@{
    string dir = "";
}

<link rel="stylesheet" href="~/css/styles.css">
<link rel="stylesheet" href="~/css/tablas.css">

<div class="container-md align-middle">
    <div class="d-flex justify-content-center align-items-center vh-50 w-100">
        <form asp-action="Alquilar" method="get" id="form-buscar-inmuebles" class="px-3 py-0 w-75 mx-auto border rounded-4 shadow-sm needs-validation mb-3 bg-light-subtle" novalidate>
            <div class="row mb-md-4">
                <div class="col-12 col-md-6 mt-5 mt-md-3 mb-md-0">
                    <div class="position-relative">
                        <label asp-for="IdTipoInmueble" class="form-label fw-bold">Tipo de inmueble</label>
                        <select asp-for="IdTipoInmueble" class="form-select" id="IdTipoInmueble">
                            <option value="" selected disabled>Seleccione el tipo</option>
                            @foreach (var tipoInm in (List<TipoInmueble>)ViewBag.tiposInmuebles)
                            {
                                <option value="@tipoInm.Id" selected="@(ViewBag.tipo == tipoInm.Id)">@tipoInm.Tipo</option>
                            }
                        </select>
                        <div id="tpe_IdTipoInmueble" class="invalid-tooltip"></div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-5 mt-md-3 mb-md-0">
                    <div class="position-relative">
                        <label asp-for="Uso" class="form-label fw-bold">Uso que tendrá el inmueble</label>
                        <select asp-for="Uso" class="form-select" id="Uso">
                            <option value="" selected disabled>Seleccione el uso</option>
                            <option value="RESIDENCIAL" selected="@(ViewBag.uso == "RESIDENCIAL")">RESIDENCIAL</option>
                            <option value="COMERCIAL" selected="@(ViewBag.uso == "COMERCIAL")">COMERCIAL</option>
                        </select>
                        <div id="tpe_Uso" class="invalid-tooltip"></div>
                    </div>
                </div>
            </div>

            <div class="row mb-md-4">
                <div class="col-12 col-md-6 mt-5 mt-md-3 mb-md-0">
                    <div class="position-relative">
                        <label asp-for="CantidadAmbientes" class="form-label fw-bold">Cantidad de ambientes</label>
                        <input type="number" asp-for="CantidadAmbientes" class="form-control" id="CantidadAmbientes" value="@ViewBag.cantAmb">
                        <div id="tpe_CantidadAmbientes" class="invalid-tooltip"></div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-5 mt-md-3 mb-md-0">
                    <div class="position-relative">
                        <label asp-for="Precio" class="form-label fw-bold">Precio Máximo</label>
                        <input type="number" asp-for="Precio" class="form-control" id="Precio" value="@ViewBag.precio">
                        <div id="tpe_Precio" class="invalid-tooltip"></div>
                    </div>
                </div>
            </div>

            <div class="row mb-md-4">
                <div class="col-12 col-md-6 mt-5 mt-md-3 mb-md-0">
                    <div class="position-relative">
                        <label for="FechaInicio" class="form-label fw-bold">Desde</label>
                        <input type="date" name="desde" class="form-control" id="FechaInicio" value="@ViewBag.desde">
                        <div id="tpe_FechaInicio" class="invalid-tooltip"></div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-5 mt-md-3 mb-md-0">
                    <div class="position-relative">
                        <label for="FechaFin" class="form-label fw-bold">Hasta</label>
                        <input type="date" name="hasta" class="form-control" id="FechaFin" value="@ViewBag.hasta">
                        <div id="tpe_FechaFin" class="invalid-tooltip"></div>
                    </div>
                </div>
            </div>

            @* <input id="IdInquilino" type="hidden" asp-for="Id"/> *@
            @* <input id="IdInquilino" type="hidden" value="@ViewBag.IdInquilino"/> *@

            <div class="row mb-2 mt-5 mt-md-4 justify-content-evenly align-items-end pt-3">
                <div class="col-2 d-flex justify-content-center">
                    <input type="submit" value="Buscar" class="btn btn-primary d-block mx-auto">
                </div>
                <div class="col-2 d-flex justify-content-center">
                    <a class="btn btn-secondary px-3" type="button" asp-controller="@(ViewBag.IdInquilino > 0 ? "Inquilino": "Inmueble")" asp-action="Index">Volver</a>
                </div>
            </div>
        </form>

    </div>
</div>

@*aca va la tabla con los inmuebles que cumplen las condiciones del form de arriba*@
@if (ViewBag.inmuebles.Count > 0) {
    <div class="container-fluid shadow border rounded-4 bg-light-subtle">
        <div class="row fixed-height-table-container-alquilar">
            <div class="my-4 rounded-3">
                <table class="table table-hover mb-0">
                    <thead class="table-light position-sticky top-0">
                        <tr>
                            <th >
                                DIRECCIÓN
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tipo).ToUpper()
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CantidadAmbientes).ToUpper()
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Duenio).ToUpper()
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Precio).ToUpper()
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="cuerpo">
                        @foreach (var item in (List<Inmueble>)ViewBag.inmuebles) {
                            <tr id="@item.Id">
                                <td class="align-middle py-0 ps-2">
                                    @{dir = item.Calle + " " + item.NroCalle;}
                                    @dir
                                </td>
                                <td class="align-middle py-0 ps-2">
                                    @Html.DisplayFor(modelItem => item.Tipo!.Tipo)
                                </td>
                                <td class="align-middle py-0 ps-2">
                                    @Html.DisplayFor(modelItem => item.CantidadAmbientes)
                                </td>
                                <td class="align-middle py-0 ps-2">
                                    @(item.Duenio != null ? item.Duenio.ToString().Split('-').ElementAt(0) : "Sin Dueño")
                                </td>
                                <td class="align-middle py-0 ps-2">
                                    @Html.DisplayFor(modelItem => item.Precio)
                                </td>
                                <td>
                                    <div class="d-flex justify-content-evenly align-items-center contenedor-iconos">
                                        <a class="icon-enlace" asp-controller="Contrato" asp-action="FormularioContrato" 
                                            asp-route-idInm="@item.Id" 
                                            asp-route-idInq="@ViewBag.idInquilino"
                                            asp-route-desde="@ViewBag.desde"
                                            asp-route-hasta="@ViewBag.hasta"
                                        >
                                            <i class="bi bi-file-earmark-text fs-3 icon-hover text-warning" data-bs-toggle="tooltip" data-bs-title="Crear Contrato"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <nav>
                <ul id="paginador" class="pagination justify-content-center my-2">
                    <li id="flecha-pag-izq" class="page-item @(ViewBag.offsetAnterior == 0 ? "disabled" : "")">
                        <a asp-action="Index" asp-route-limit="10" asp-route-offset="@ViewBag.offsetAnterior" asp-route-disp="@ViewBag.disponible" class="page-link"><span>&laquo;</span></a>
                    </li>
                    @for (int i = 1; i <= ViewBag.cantPag; i++) {
                        <li class="page-item">
                            <a asp-action="Index" asp-route-limit="10" asp-route-offset="@i" asp-route-disp="@ViewBag.disponible" class="page-link @(i > ViewBag.offsetAnterior && i < ViewBag.offsetSiguiente ? "active" : "")">@i</a>
                        </li>
                    }
                    <li id="flecha-pag-der" class="page-item @(ViewBag.offsetSiguiente > ViewBag.cantPag ? "disabled" : "")">
                        <a asp-action="Index" asp-route-limit="10" asp-route-offset="@ViewBag.offsetSiguiente" asp-route-disp="@ViewBag.disponible" class="page-link"><span>&raquo;</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
}

@if (ViewBag.mensaje != null) {
    <partial name="_MensajeError" model="ViewBag.mensaje"></partial>
}

<script type="module" src="~/js/alquilar.js"></script>